In [1]:
import pandas as pd
import numpy as np

# Example: Reading sample data
# For now, let's create sample data to get started
dates = pd.date_range('2023-01-01', '2024-12-31', freq='D')
markets = ['Delhi_Mandi', 'Mumbai_Mandi', 'Pune_Mandi']
crops = ['Tomato', 'Onion', 'Potato']

# Create sample dataset
sample_data = []
for date in dates:
    for market in markets:
        for crop in crops:
            sample_data.append({
                'date': date,
                'market_name': market,
                'market_lat': 28.6 if 'Delhi' in market else (19.0 if 'Mumbai' in market else 18.5),
                'market_lon': 77.2 if 'Delhi' in market else (72.8 if 'Mumbai' in market else 73.8),
                'commodity': crop,
                'modal_price': np.random.normal(2000, 300),  # Random price around â‚¹2000
                'arrivals_qty': np.random.randint(100, 1000)
            })

df = pd.DataFrame(sample_data)

# Create the data directory if it doesn't exist
import os
os.makedirs('data', exist_ok=True)

df.to_csv('data/market_prices.csv', index=False)
print("Sample data created!")
df.head()

Sample data created!

,date,market_name,market_lat,market_lon,commodity,modal_price,arrivals_qty
0,2023-01-01,Delhi_Mandi,28.6,77.2,Tomato,1812.858045,274
1,2023-01-01,Delhi_Mandi,28.6,77.2,Onion,2307.649023,356
2,2023-01-01,Delhi_Mandi,28.6,77.2,Potato,2059.871423,519
3,2023-01-01,Mumbai_Mandi,19.0,72.8,Tomato,2280.858354,287
4,2023-01-01,Mumbai_Mandi,19.0,72.8,Onion,1852.662698,627